<div class="feedback"><h3>Abgabe</h3>
    <div class="box py-3 boxaligncenter feedbacktable">
        <div class="table-responsive">
            <table class="generaltable">
                <tbody>
                <tr class="">
                    <th class="cell c0" style="" scope="row">Abgabestatus</th>
                    <td class="cell c1 lastcol" style="">FIXME</td>
                </tr>
                <tr class="">
                    <th class="cell c0" style="" scope="row">Verbleibende Zeit</th>
                    <td class="cell c1 lastcol" style="">FIXME</td>
                </tr>
                <tr class="">
                    <th class="cell c0" style="" scope="row">Bewertung</th>
                    <td class="cell c1 lastcol" style="">{{grade}}&nbsp;/&nbsp;{{grade_max}}</td>
                </tr>
                <tr class="lastrow">
                    <th class="cell c0" style="" scope="row">Feedback als Kommentar</th>
                    <td class="cell c1 lastcol" style="">
                        <div class="box py-3 boxaligncenter plugincontentsummary summary_assignfeedback_comments_19253">
                            {{feedback}}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>