{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_assignexternal/view_summary

    view the external assignment as a student

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * externallink, gradingstatus, timeremaining, modified, totalgrade, totalgrademax, externalgrade, externalgrademax,
      manualgrade, manualgrademax, externalfeedback, manualfeedback

    Example context (json):
    {
    }
}}
<div class="submissionstatustable">
  <h3>{{#str}}submissionstatus, assignexternal{{/str}}</h3>
  <div class="box py-3 boxaligncenter submissionsummarytable">
    <div class="table-responsive">
      <table class="generaltable table-bordered">
        <tbody>
        <tr class="">
          <th class="cell c0" style="" scope="row">{{#str}}externallink, assignexternal{{/str}}</th>
          <td class="cell c1 lastcol" style="">{{externallink}}</td>
        </tr>
        <tr class="">
          <th class="cell c0" style="" scope="row">{{#str}}gradingstatus, assignexternal{{/str}}</th>
          <td class="cell c1 lastcol" style="">{{gradingstatus}}</td>
        </tr>
        <tr class="">
          <th class="cell c0" style="" scope="row">{{#str}}timeremaining, mod_assignexternal{{/str}}</th>
          <td class="cell c1 lastcol" style="">{{timeremaining}}</td>
        </tr>
        <tr class="lastrow">
          <th class="cell c0" style="" scope="row">Last modified</th>
          <td class="cell c1 lastcol" style="">{{modified}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="feedback">
  <h3>{{#str}}feedback, assignexternal{{/str}}</h3>
  <h4>{{#str}}grading, assignexternal{{/str}}</h4>
  <table class="generaltable table-bordered">
    <thead>
    <tr>
      <th>{{#str}}foobar, assignexternal{{/str}}</th>
      <th>{{#str}}pointsachieved, assignexternal{{/str}}</th>
      <th>{{#str}}maximum, assignexternal{{/str}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="cell c0">{{#str}}externalgrade, assignexternal{{/str}}:</td>
      <td class="cell c1">{{externalgrade}}</td>
      <td class="cell c2 lastcol">{{externalgrademax}}</td>
    </tr>
    <tr>
      <td class="cell c0">{{#str}}manualgrade, assignexternal{{/str}}: </td>
      <td class="cell c1" style="">{{manualgrade}}</td>
      <td class="cell c2 lastcol" style="">{{manualgrademax}}</td>
    </tr>
    <tr>
      <td class="cell c0">{{#str}}totalgrade, assignexternal{{/str}}:</td>
      <td class="cell c1">{{totalgrade}}</td>
      <td class="cell c2 lastcol">{{totalgrademax}}</td>
    </tr>
    </tbody>
  </table>
  <h4>{{#str}}externalfeedback, assignexternal{{/str}}</h4>
  <div class="box py-3 boxaligncenter">
    {{{externalfeedback}}}
  </div>
  <h4>{{#str}}manualfeedback, assignexternal{{/str}}</h4>
  <div class="box py-3 boxaligncenter">
    {{{manualfeedback}}}
  </div>
</div>