<div class="no-overflow">
  <table class="flexible table table-striped table-hover generaltable generalbox">
    <thead>
    <tr>
      <th class="header c1" scope="col" rowspan="2">
        {{#str}} firstname, core {{/str}} / {{#str}} lastname, core {{/str}}
      </th>
      <th class="header c2" scope="col" rowspan="2">
        {{#str}} status, core {{/str}}
      </th>
      <th class="header c2" scope="col" colspan="2">
        {{#str}} assessment, core {{/str}}
      </th>
      <th class="header c5" scope="col" rowspan="2">
        {{#str}} feedback, core {{/str}}
      </th>
      <th class="header c6" scope="col" rowspan="2">
        {{#str}} finalassessment, core {{/str}}
      </th>
    </tr>
    <tr>
      <th class="header c3" scope="col">
        {{#str}} external, core {{/str}}
      </th>
      <th class="header c4" scope="col">
        {{#str}} manual, core {{/str}}
      </th>
    </tr>
    </thead>
    <tbody>
    {{#grades}}
      <tr>
        <td>{{ firstname }} {{ lastname }}</td>
        <td>{{ status }}</td>
        <td><br>{{ gradeexternal }}</td>
        <td>
          <a href="{{ config.wwwroot }}/course/view.php?action=grader&id={{ coursemoduleid }}&userid={{ userid }}">{{#str}} grade, core {{/str}}</a>
          <br>{{ manualgrade }}
        </td>
        <td>{{ feedback }} </td>
        <td>{{ gradefinal }} </td>
      </tr>
    {{/grades}}
    </tbody>
  </table>
</div>